*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.centertext{
    margin: 200px auto;
    width: 800px;
}

.centertext h1{
    font-size: 80px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    animation: textanimation1 1s ease-in-out;
}

@keyframes textanimation1{
    0%{
        letter-spacing: 20px;
        font-size: 60px;
    }
    100%{
        letter-spacing: 1px;
        font-size: 80px;
    }
}

.centertext p{
    font-size: 30px;
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    animation: textanimation2 1s ease-in-out;
}

@keyframes textanimation2{
    0%{
        transform: scale(0);
    }
    100%{
        letter-spacing: 1px;
    }
}

.centertext hr{
    width: 30px;
    animation: textanimation3 10s linear infinite;
}

@keyframes textanimation3{
    0%{
        width: 60px;
    }
    20%{
        width: 200px;
    }
    40%{
        width: 130px;
    }
    60%{
        width: 310px;
    }
    80%{
        width: 500px;
    }
    100%{
        width: 400px;
    }
  
}

/* diong text typing animation */
.anim{
    margin-left: 15%;
    color: white;
    font-size: 60px;
    animation: type 4s linear infinite;
    overflow: hidden;
    white-space: nowrap;

}

@keyframes type{
    0%{width: 0ch;}
    100%{width: 21ch;}
}

/* DOING TEXT ANIMATION EFFECT  */
.txteffect h1{
    
    margin-left: 15%;
    position: relative;
    font-family: sans-serif;
    font-size: 14vh;
    color: #000000;
    -webkit-text-stroke:0.2vh #ff0000;
    text-transform: uppercase;


}

.txteffect h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #ddd;
    -webkit-text-stroke:0vh #ff0000;
    border-right: 2px solid #ddd;
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width:11ch;
    }
}

/* SLIDING ANMATION TUTORIAL */
.content{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-wrapper{
    font-size: 40px;
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center; 

}

.slider{
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}
.slider div{
    color:white;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;

}
.slider-textA{
    background-color: lightgreen;
    animation: slide 7s linear infinite ;

}
.slider-textB{
    background-color:skyblue;
    
}.slider-textC {
    background-color: lightcoral;
    
}

@keyframes slide{
    0%{margin-top:-300px;}
    20%{margin-top:-300px;}
    33%{margin-top:-200px;}
    55%{margin-top:-200px;}
    71%{margin-top:-100px;}
    60%{margin-top:-100px;}
    77%{margin-top:0px;}
    100%{margin-top:0px;}
}


/* my effects */
.cont{
    height: 70px;
    margin-left: 15%;
    display: flex;
    margin-bottom: 100px;
    color: #fff;
    font-size: 60px;
    overflow: hidden;
    box-sizing: border-box;
    
}

.slid-wrap{
    color: #fff;
    font-size: 50px;
    border-right: 1px solid white;
    animation: slide 5s linear infinite ;
}

@keyframes slide{
    0%,35%{margin-top:-140px;}
    37%,62%{margin-top:-70px;}
    66%,90%{margin-top:0px;}
    95%{margin-top:70px;}
    100%{margin-top:140px ;}
    
}

.text div{
    top: 0;
    width: 0;
    overflow: hidden;
    animation: flow 2s linear infinite;
    font-family: sans-serif;
    color:white;
    text-transform: uppercase;
    white-space: nowrap;
    height: 70px;


}


@keyframes flow{
    0%,35%{width: 0ch;}
    66%,90%{width: 33ch;}
    95%{width:10ch ;}
    100%{width: 0ch;}
}



/* water effects */

.water{
    position: relative;
 padding-left: 40%;
 margin-bottom: 50px;
}

.water h3{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 12em;
}

.water h3:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
    
}

.water h3:nth-child(2){
    color:#ddd;
    animation: waba 4s ease-in-out
    infinite ;
    
}

@keyframes waba{
    0%{
        clip-path: polygon(0%,45%,44%,32%,50%,54%,60%,70%,61%,84%,59%,100%,52%,100%,100%,0%,100%);
    }
    50%{
    
        clip-path: polygon(0%,60%,16%,65%,34%,66%,51%,62%,67%,50%,84%,45%,100%,46%,100%,0%,100%);
    }
    100%{
        clip-path: polygon(0%,45%,44%,32%,50%,54%,60%,70%,61%,84%,59%,100%,52%,100%,100%,0%,100%);
    }
}